<% form_for @ldap_user_results, :url => :create_new_user do %>
  <div>
    <%= label(:users, :first_name, "First Name:") %>
    <%= text_field(:users, :first_name) %>
  </div>
  <div>
    <%= label(:users, :last_name, "Last Name:") %>
    <%= text_field(:users, :last_name) %>
  </div>
  <div>
    <%= label(:users, :full_name, "Full Name:") %>
    <%= text_field(:users, :full_name) %>
  </div>
  <div>
    <%= label(:users, :logon_name, "Log On Name:") %>
    <%= text_field(:users, :logon_name) %>
  </div>
  <div>
    <%= label(:users, :password, "Password:") %>
    <%= password_field(:users, :password) %>
  </div>
  <div>
    <%= label(:users, :confirm_password, "Confirm Password:") %>
    <%= password_field(:users, :confirm_password) %>
  </div>
  <div>
    <%= label(:users, :ch_pwd, "User must change password:") %>
    <%= check_box(:users, :ch_pwd) %>
  </div>
  <div>
    <%= label(:users, :can_ch_pwd, "User cannot change password:") %>
    <%= check_box(:users, :can_ch_pwd) %>
  </div>
  <div>
    <%= label(:users, :pwd_exp, "Password never expires:") %>
    <%= check_box(:users, :pwd_exp) %>
  </div>
  <div>
    <%= label(:users, :acct_dsbl, "Account is disabled:") %>
    <%= check_box(:users, :acct_dsbl) %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>