<% form_for "dummy" do |f| %>
  <%= f.label :scope, "Scope" %>
  <%= f.select(:scope, options_for_select([["Email", "Email"],["Domain", "Domain"]])) %>
<% end %>
<div id="wl_email_container">
<% form_for "wl_email", :url => white_list_create_path(@user || current_user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <% if current_user.is_admin? %>
    <%= f.check_box :chck_global %>
    <%= f.label :chck_global, "White List for entire domain" %>
  <% end %>
  <%= f.submit "Add Email" %>
<% end %>
</div>
<div id="wl_domain_container">
<% form_for "wl_domain", :url => white_list_create_path(@user || current_user)  do |f| %>
  <%= f.label :domain %>
  <%= f.text_field :domain %>
  <% if current_user.is_admin? %>
    <%= f.check_box :chck_global %>
    <%= f.label :chck_global, "White List for entire domain" %>
  <% end %>
  <%= f.submit "Add Domain" %>
<% end %>
</div>

