<div id="distribution_list">
  <div id="accordion">
    <%- @distribution_results.each do |d| %>
      <h3><a href="#"><%= d.displayName %></a></h3>
      <div class="accordion_user_container user_display_list <%= d.displayName.gsub(" ", "_") %>">
        <p class="accordion_content">
          <div class="distro_user_overlay">
            <div class="distro_user_overlay_ajax"></div>
            <p class="distro_user_overlay_msg">Please wait while we load user list.</p>
          </div>
        </p>
      </div>
    <%- end %>
  </div>

  <%= will_paginate @distribution_results %>

  <div class="add_to_group_form_container" id="add_to_group_form_container">
    <% form_tag(add_to_distribution_path, :method => "post") do %>
      <%= hidden_field_tag :add_to_group_hidden %>
      <%= hidden_field_tag :contact_type %>
      <%= label_tag(:contact_name, "Contact Name:") %><br/>
      <%= text_field_tag(:contact_name) %><br/>
      <%= label_tag(:contact_smtp_address, "Contact Address:") %><br/>
      <%= text_field_tag(:contact_smtp_address) %><br/>
      <%= submit_tag("Submit", :id => "add_to_group_submit") %>
    <% end %>
  </div>
  <div class="distro_overlay">
    <div class="distro_overlay_ajax"></div>
    <p class="distro_overlay_msg"></p>
  </div>
</div>