<div id="distribution_list">
  <div class="distribution_list_user_display">
    <ul>
      <%- @distribution_results.each do |d| %>
          <li class="user_display_list <%= d.displayName.gsub(" ", "_") %>">
            <ul>
              <%- unless d.ExchangeUsers == nil %>

                  <%- d.ExchangeUsers.each do |u| %>
                    <li><%= u.cn %></li>
                  <%- end %>

              <%- end %>
           </ul>
          </li>
      <%- end %>
    </ul>  
  </div>
  <div class="distribution_list_display">
    <ul>
      <%- @distribution_results.each do |d| %>
          <li onclick="toggle_distro_users(this, '<%= d.displayName.gsub(" ", "_") %>')">
            <span class="displayName"><%= d.displayName %></span>
            <%- unless d.ExchangeUsers == nil or d.ExchangeUsers.count == 0 %>*<%end%>
          </li>
      <%- end %>
    </ul>
  </div>
  * - has member users
  <button name="add_to_group_button" class="add_to_group_button" id="add_to_group_button">Add To Group</button>
  <div class="add_to_group_form_container" id="add_to_group_form_container">
    <% form_tag(add_to_distribution_path, :method => "post") do %>
      <%= hidden_field_tag :add_to_group_hidden %>
      <%= hidden_field_tag :contact_type %>
      <%= label_tag(:contact_name, "Contact Name:") %><br/>
      <%= text_field_tag(:contact_name) %><br/>
      <%= label_tag(:contact_smtp_address, "Contact Address:") %><br/>
      <%= text_field_tag(:contact_smtp_address) %><br/>
      <%= submit_tag("Submit") %>
    <% end %>
  </div>
</div>