<% form_for @new_user do |f| %>
  <table>
    <tr>
      <td>
        <%= label(:user, :first_name, "First Name:") %>
      </td>
      <td>
        <%= text_field(:user, :first_name) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :last_name, "Last Name:") %>
      </td>
      <td>
        <%= text_field(:user, :last_name) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :full_name, "Full Name:") %>
      </td>
      <td>
        <%= text_field(:user, :full_name) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :logon_name, "Log On Name:") %>
      </td>
      <td>
        <%= text_field(:user, :logon_name) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :password, "User Password:") %>
      </td>
      <td>
        <%= password_field(:user, :password) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :confirm_password, "Confirm Password:") %>
      </td>
      <td>
        <%= password_field(:user, :confirm_password) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= label(:user, :ch_pwd, "User must change password:") %>
      </td>
      <td>
        <%= check_box(:user, :ch_pwd) %>
      </td>
    </tr>
  </table>
  <%= submit_tag "Submit", :id => "create_new_user_submit" %>
<% end %>