<%- unless @distribution_results.ExchangeUsers.blank? %>
  <ul>
    <%- @distribution_results.ExchangeUsers.each do |u| %>
      <li onclick="toggle_distro_user(this, '<%= u.alias %>', '<%= @distribution_results.displayName %>', '<%= @distribution_results.displayName.gsub(" ", "_") %>')">
        <div class="ucn">
          <%= u.cn %>
        </div>
        <div class="ucn_del">
          <a href="#" rel="<%= u.alias %>">Delete</a> 
        </div>
      </li>
    <%- end %>
  </ul>
<%- else %>
  <p class="no_group_member_notice">There are no group members.</p>
<%- end %>
  <a href="#" class="add_contact">Add Contact</a>
