<%- unless @distribution_results.blank? %>
  <ul>
    <%- @distribution_results.each do |u| %>
      <li>
        <div class="ucn">
          <%= u.cn %>
        </div>
        <div class="ucn_del">
          <a href="#" rel="<%= u.alias %>">Delete</a> 
        </div>
      </li>
    <%- end %>
  </ul>
  <%= will_paginate @distribution_results, :params => {:group_name => @distribution_group_name} %>
<%- else %>
  <p class="no_group_member_notice">There are no group members.</p>
<%- end %>
<a href="#" class="add_contact" rel="<%= @distribution_group_name %>">Add Contact</a>
<%= link_to 'Delete This Group', distribution_group_delete_path(:distribution_group_name => @distribution_group_name), :method => :delete, :class => "remove_group", :confirm => "Are you sure you want to delete this Group?" %>
<!--
<a href="#" class="remove_group" rel="<%= @distribution_group_name %>">Delete This Group</a>
-->