<ul>
  <li>
    <%= link_to "Reset Password", "", :id => "reset_password" %>
    <div id="reset_password_container">
      <% form_for @user, :url => "/reset_password/" + @user.id.to_s do %>
        <div>
          <%= label(:ldap_user, :new_password, "New Password") %>
          <%= password_field :ldap_user, :new_password, :class => "reset_password" %>
        </div>
        <div>
          <%= label(:ldap_user, :confirm_password, "Confirm Password") %>
          <%= password_field :ldap_user, :confirm_password, :class => "reset_password"%>
        </div>
        <%= submit_tag "Submit", :id => "reset_password_submit"%>
      <% end %>
    </div>
  </li>
</ul>