<% form_for "ldap_user", :url => reset_password_path(current_user) do |f| %>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password, :class => "reset_password" %>
  </div>
  <div>
    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password, :class => "reset_password"%>
  </div>
  <%= f.submit "Submit", :id => "reset_password_submit"%>
<% end %>

