<% form_for "ldap_user", :url => reset_password_path(@ExchangeUser || current_user) do |f| %>
  <table>
    <tr>
      <td>
        <%= f.label :new_password %>:
      </td>
      <td>
        <%= f.password_field :new_password, :class => "reset_password" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :confirm_password %>:
      </td>
      <td>
        <%= f.password_field :confirm_password, :class => "reset_password"%>
      </td>
    </tr>
  </table>
  <%= f.submit "Submit", :id => "reset_password_submit"%>
  <%= hidden_field "reset_pass_", "user_name_validate", :value => (@ExchangeUser || current_user).login %>
  <%= hidden_field "reset_pass_", "name_validate", :value => (@ExchangeUser || current_user).cn %>
<% end %>

