<div class="flash">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%= type %>"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
</div>
<% if @ldap_user_results %>
  <h3>You are authorized to administer the following accounts:</h3>
  <div class="settings_panel" id="settings_panel">
    <ul>
      <li class="first">
        <%= link_to "Create New User", "#", :id => "create_new_user" %>
      </li>
      <li>
        <%= link_to "Reset Password", "#", :id => "reset_password" %>
      </li>
      <li>
        <%= link_to "Add White List Entry", "#", :id => "add_white_list_entry" %>
      </li>
      <li>
        <%= link_to "White List Settings", white_lists_path, :id => "white_list" %>
      </li>
    </ul>
  </div>
  <div class="create_new_user_container" id="create_new_user_container">
    <%= render :partial => 'create_new_user_form' %>
  </div>
  <div class="white_list_panel" id="white_list_panel">
    <%= render :partial => 'white_lists/white_list_panel' %>
  </div>
  <div class="reset_password_container" id="reset_password_container">
    <%= render :partial => 'reset_password_form' %>
  </div>
  <table class="user_list">
    <% @ldap_user_results.each do |index| %>
    <tr>
      <td>
        <strong>User</strong>:
      </td>
      <td>
         <%= index.cn %>
      </td>
      <td>
        <%= link_to "Edit", user_path(index) %>&nbsp;&nbsp;
        <% if index.enabled %>
          <%= link_to 'Disable', toggle_user_path(index), :confirm => 'Are you sure?' %>&nbsp;&nbsp;
        <% else %>
          <%= link_to 'Enable', toggle_user_path(index), :confirm => 'Are you sure?' %>&nbsp;&nbsp;
        <% end %>
        <%= link_to 'Delete', {:action => 'delete', :id => index.id}, :confirm => 'Are you sure?' %>
      </td>
    </tr>
      <td>
        <strong>Organizational Unit</strong>:
      </td>
      <td>
        <%= index.ou %>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @ldap_user_results %>
<% else %>
  <h3>You are not authorized to administer any accounts</h3>
<% end %>