<div class="flash">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%= type %>"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
</div>
<% if @ldap_user_results %>
  <h3>You are authorized to administer the following accounts:</h3>
  <div class="settings_panel" id="settings_panel">

      <span class="first create_user">
        <%= link_to "Create User", "#", :id => "create_new_user", :title => "Create User" %>
      </span>
      <span class="new_distribution_list">
        <%= link_to "Create Distribution List", "#", :id => "create_new_distro", :title => "Create Distribution List" %>
      </span>
      <span class="manage_vpn_user">
        <%= link_to "Manage VPN Users", "#", :id => "vpn_users", :title => "Manage VPN Users" %>
      </span>      
      <span class="add_distribution_list">
        <%= link_to "Manage Distribution List", "#", :id => "add_to_distro", :title => "Manage Distribution List" %>
      </span>
      <span class="reset_password">
        <%= link_to "Reset Password", "#", :id => "reset_password", :title => "Reset Password" %>
      </span>
      <span id="cacti_graphs_link" class="cacti_graphs" <%- if current_user.cacti_username.blank? %> style="display:none"<%- end %> >
        <%= link_to "View Cacti Graphs", cacti_graphs_path, :id => "cacti_graphs", :title => "View Cacti Graphs" %>
      </span>

  </div>
  <div class="create_new_user_container" id="create_new_user_container">
    <%= render :partial => 'create_new_user_form' %>
  </div>
  <div class="create_vpn_user_container" id="create_vpn_user_container">
    <%= render :partial => 'create_vpn_user_form' %>
  </div>
  <div class="reset_password_container" id="reset_password_container">
    <%= render :partial => 'reset_password_form' %>
  </div>
  <div class="create_distribution_list" id="create_distribution_list">
    <%= render :partial => "create_distribution_list" %>
  </div>
  <div class="add_to_distro_container" id="add_to_distro_container">
    <div class="distro_loader">Please wait while we retrieve Distribution Group information.</div>
    <div class="add_to_distro_internal_container" id="add_to_distro_internal_container"></div>
  </div>
  <div class="vpn_users_container" id="vpn_users_container">
    <div class="vpn_loader">Please wait while we retrieve VPN users.</div>
    <div class="flash"></div>
    <div class="vpn_users_internal_container" id="vpn_users_internal_container"></div>
  </div>
  <hr/>
  <table class="user_list">
    <% @ldap_user_results.each do |index| %>
      <tr>
        <td>
          <strong>User</strong>:
        </td>
        <td>
           <%= index.cn %>
        </td>
        <td id="<%= index.login %>" class="delete">
          <span class="add_user_to_distro" >
            <a href="#" rel="<%= index.cn %>" alias="<%= index.login %>" email="<%= index.email %>" user="<%= index.id %>" title="Add to Distribution List">Add to Distribution List</a>
          </span>
          <span class="reset_user_password">
            <a href="#" user="<%= index.id %>" title="Reset Password">Reset Password</a>
          </span>
          <%= link_to 'Delete', {:action => 'delete', :id => index.id}, :confirm => 'Are you sure?', :title => "Delete" %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Organizational Unit</strong>:
        </td>
        <td>
          <%= index.ou %>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>Login</strong>:
        </td>
        <td>
          <%= index.login %>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>VPN Login</strong>:
        </td>
        <td>
          <%= "#{index.login}-vpn" if index.has_vpn_account? %>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <strong>Email</strong>:
        </td>
        <td>
          <%= index.email %>
        </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" class="table_hr"></td>
      </tr>

  <% end %>
  </table>
  <%= will_paginate @ldap_user_results %>

  
  <iframe src="<%= cacti_graphs_login_path %>" name="cacti_form_login" id="cacti_form_login_container" class="cacti_form"></iframe>
  <%- if current_user.cacti_username.blank? %>
    <script type="text/javascript">
      $('iframe').load(function() {
        if(!cacti_call){
          begin_cacti_login();
          cacti_call = true;
        }
      });
    </script>
  <%- elsif !current_user.cacti_logged_in %>
    <script type="text/javascript">
      $('iframe').load(function() {
        if(!cacti_call){
          cacti_login('<%= current_user.cacti_username %>', '<%= current_user.cacti_password %>');
          cacti_call = true;
        }
      });
    </script>
  <%- end %>
<% else %>
  <h3>You are not authorized to administer any accounts</h3>
<% end %>