<div class="flash">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%= type %>"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
</div>
<ul>
  <li><strong>User Name</strong>: <%= @user.cn %></li>
  <li><strong>Organizational Unit</strong>: <%= @user.ou %></li>
</ul>

<div class="settings_panel" id="settings_panel">
  <ul>
    <li class="first">
      <%= link_to "Reset Password", "#", :id => "reset_password" %>
    </li>
  </ul>
</div>
<div class="reset_password_container" id="reset_password_container">
  <%= render :partial => 'reset_password_form' %>
</div>