<% if !@reset_result.nil? %>
  <% if @reset_result %>
    <div class="flash">
      <p class="completed">
        Password change successful!
      </p>
    </div>   
  <% else %>
    <div class="flash">
      <%- [:notice, :instructions, :completed, :error].each do |type| -%>
        <%- if flash[type] -%>
          <p class="<%= type %>"><%= flash[type] %></p>
        <%- end -%>
      <%- end -%>
    </div>
  <% end %>
<% end %>
<ul>
  <li><strong>User Name</strong>: <%= @user.cn %></li>
  <li><strong>Organizational Unit</strong>: <%= @user.ou %></li>
</ul>
<br/>
<%= render :partial => 'reset_password_form' %>
