<% if !@reset_result.nil? %>
  <% if @reset_result %>
    <div class="flash">
      <p class="completed">
        Password change successful!
      </p>
    </div>   
  <% else %>
    <div class="flash">
      <%- [:notice, :instructions, :completed, :error].each do |type| -%>
        <%- if flash[type] -%>
          <p class="<%= type %>"><%= flash[type] %></p>
        <%- end -%>
      <%- end -%>
    </div>
  <% end %>
<% end %>
<ul>
  <li><strong>User Name</strong>: <%= @user.cn %></li>
  <li><strong>Organizational Unit</strong>: <%= @user.ou %></li>
</ul>

<div class="settings_panel" id="settings_panel">
  <ul>
    <li class="first">
      <%= link_to "Reset Password", "#", :id => "reset_password" %>
    </li>
    <li>
      <%= link_to "Add White List Entry", "#", :id => "add_white_list_entry" %>
    </li>
    <li>
      <%= link_to "White List Settings", white_lists_path, :id => "white_list" %>
    </li>
  </ul>
</div>
<div class="reset_password_container" id="reset_password_container">
  <%= render :partial => 'reset_password_form' %>
</div>
<div class="white_list_panel" id="white_list_panel">
    <%= render :partial => 'white_lists/white_list_panel' %>
</div>