<div class="flash">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%= type %>"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
</div>
<h1>TALHO Toolbox: Login</h1>
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  <%= f.label :login %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= label("host", "authenticate", "Authenticate Against:") %>
  <br/>
  <%= select("host", "authenticate", options_for_select([["Test", "Test"], ["TORCH", "TORCH"]])) %>
  <br/>
  <%= f.check_box :remember_me %><%= f.label :remember_me %><br />
  <br />
  <%= f.submit "Sign In" %>
<% end %>
<iframe src="<%= LDAP_Config[:cacti] %>logout.php" name="cacti_form_login" id="cacti_form_login_container" class="cacti_form"></iframe>